<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes</title>

</head>
<body style="background: #f0f0f0; text-align: center; margin: 0; padding: 0;">
    <div class="container" style="background-color: #fff; border-radius: 5px; max-width: 850px; margin: 0 auto;
            padding: 20px;">
        <h1>Prediction if Diabetic or Not </h1>
        <form method="POST" action="/predict" >
            <label for="age" style="display: block; margin-bottom: 10px; font-weight: bold">Age:</label>
            <input type="number" name="age" id="age" step="0.01" required style=""><br><br>
            <label for="hypertension" style="display: block; margin-bottom: 10px; font-weight: bold">Hypertension:</label>
            <input type="number" name="hypertension" id="hypertension" step="0.01" required><br><br>
            <label for="heart_disease" style="display: block; margin-bottom: 10px; font-weight: bold">Heart Disease:</label>
            <input type="number" name="heart_disease" id="heart_disease" step="0.01" required><br><br>
            <label for="bmi" style="display: block; margin-bottom: 10px; font-weight: bold">BMI:</label>
            <input type="number" name="bmi" id="bmi" step="0.01" required><br><br>
            <label for="HbA1c_level" style="display: block; margin-bottom: 10px; font-weight: bold">HbA1c Level:</label>
            <input type="number" name="HbA1c_level" id="HbA1c_level" step="0.01" required><br><br>
            <label for="blood_glucose_level" style="display: block; margin-bottom: 10px; font-weight: bold">Blood Glucose Level:</label>
            <input type="number" name="blood_glucose_level" id="blood_glucose_level" step="0.01" required><br><br>

            <input type="submit" value="Predict">
        </form>
        <br>
        <br>
        <h4 style="margin-top: 20px; color: #007bff;">{{ prediction }}</h4>
    </div>
</body>
</html>
